.intranet-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  background: url("../../../../../assets/background.png") no-repeat center
    center;
  background-size: cover;
  font-family: "Arial", sans-serif;
  position: relative;
}

.header {
  background-color: rgba(0, 91, 143, 0.9); /* Color con opacidad del 90% */
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.logo {
  max-width: 120px;
  margin-bottom: 10px;
  opacity: 0.7; /* Opacidad del 70% */
}

.main-content {
  text-align: center;
  padding: 20px;
}

h2 {
  color: #005b8f;
  font-weight: bold;
}

.menu-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; /* Ajustado el padding */
  width: 150px; /* Mantener el ancho, se puede ajustar según sea necesario */
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con opacidad */
  border-radius: 5px;
  transition: transform 0.2s; /* Efecto de hover */
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border: 1px solid #005b8f; /* Borde azul */
  font-size: 0.9em; /* Tamaño de fuente ajustado */
  text-align: center; /* Centrar texto */
}

.menu-item:hover {
  transform: scale(1.05); /* Escala al pasar el mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada al pasar el mouse */
}

.menu-item mat-icon {
  font-size: 40px;
  color: #005b8f; /* Color del icono */
  margin-bottom: 10px;
  transition: color 0.2s; /* Efecto de hover */
  font-size: 2em; /* Tamaño de fuente ajustado */
  text-align: center; /* Centrar texto */
}

.menu-item span {
  margin-top: 45px; /* Espaciado adicional para separar el texto */
  white-space: nowrap; /* Evita el salto de línea */
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 91, 143, 0.9); /* Footer con opacidad del 90% */
  color: white;
}

.contact-info {
  font-size: 0.9em;
}

@media (max-width: 768px) {
  .menu-container {
    flex-direction: column;
    gap: 10px;
  }
}
