<section class="section">
  <div class="container">
    <div class="slider" id="scroller" #scroller>
      <div class="card card-1">
        <div class="visual">
          <img
            class="img"
            width="400"
            height="400"
            src="assets/foto3.png"
            alt="Recursos para Egresados"
          />
        </div>
        <div class="content">
          <div class="meta">
            <h2 class="title">
              Bienvenido al Portal de Seguimiento al Egresado
            </h2>
            <div class="desc">
              En el Instituto Enrique López Albujar, nos enorgullece mantener
              una conexión cercana con nuestros egresados.
            </div>
          </div>

          <div class="card-actions">
            <a class="btn common-btn primary" href="#">Ver Recursos</a>
            <a class="btn common-btn" href="#">Más Información</a>
          </div>
        </div>
      </div>
      <div class="card card-2">
        <div class="visual">
          <img
            class="img"
            width="400"
            height="400"
            src="assets/logoarq.png"
            alt="Recursos para Egresados"
          />
        </div>
        <div class="content">
          <div class="meta">
            <h2 class="title">Recursos para Egresados</h2>
            <div class="desc">
              Accede a una variedad de recursos diseñados para tu desarrollo
              profesional y personal.
            </div>
          </div>
          <div class="card-actions">
            <a class="btn common-btn primary" href="#">Ver Recursos</a>
            <a class="btn common-btn" href="#">Más Información</a>
          </div>
        </div>
      </div>
      <div class="card card-3">
        <div class="visual">
          <img
            class="img"
            width="400"
            height="400"
            src="assets/EstudiantesLogin.png"
            alt="Conexiones de Red"
          />
        </div>
        <div class="content">
          <div class="meta">
            <h2 class="title">Conexiones de Red</h2>
            <div class="desc">
              Conéctate con otros egresados y profesionales de tu área.
            </div>
          </div>
          <div class="card-actions">
            <a class="btn common-btn primary" href="#">Unirme a la Red</a>
            <a class="btn common-btn" href="#">Más Información</a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-controls">
      <div class="slider-controls-wrapper">
        <button
          class="control-button prev"
          aria-label="Go to previous"
          (click)="scroll(-1)"
        >
          <!-- SVG para flecha izquierda -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="40px"
            viewBox="0 -960 960 960"
            width="40px"
            fill="#5f6368"
          >
            <path
              d="m414.67-480.67 170 170q9.66 9.67 9.33 23.34-.33 13.66-10 23.33-9.67 9.67-23.67 9.67-14 0-23.66-9.67L343.33-457.33q-5.33-5.34-7.5-11-2.16-5.67-2.16-12.34 0-6.66 2.16-12.33 2.17-5.67 7.5-11l194-194q9.67-9.67 23.67-9.67 14 0 23.67 9.67 9.66 9.67 9.66 23.67 0 14-9.66 23.66l-170 170Z"
            />
          </svg>
        </button>
        <button
          class="control-button next"
          aria-label="Go to next"
          (click)="scroll(1)"
        >
          <!-- SVG para flecha derecha -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="40px"
            viewBox="0 -960 960 960"
            width="40px"
            fill="#5f6368"
          >
            <path
              d="m521.33-480.67-170-170q-9.66-9.66-9.33-23.33.33-13.67 10-23.33 9.67-9.67 23.67-9.67 14 0 23.66 9.67L592.67-504q5.33 5.33 7.5 11 2.16 5.67 2.16 12.33 0 6.67-2.16 12.34-2.17 5.66-7.5 11l-194 194q-9.67 9.66-23.34 9.33-13.66-.33-23.33-10-9.67-9.67-9.67-23.67 0-14 9.67-23.66l169.33-169.34Z"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="pagination">
      <div class="pagination-wrapper">
        <span class="marker marker-1"></span>
        <span class="marker marker-2"></span>
        <span class="marker marker-3"></span>
      </div>
    </div>
  </div>
</section>
