<section class="flex-container">
  <div class="row">
    <mat-card>
      <mat-card-title
        >Bienvenido al Portal de Seguimiento de Egresados</mat-card-title
      >
      <mat-card-subtitle
        >Instituto Enrique López Albujar - Ferreñafe</mat-card-subtitle
      >
      <mat-card-content>
        <p>
          En el Instituto Enrique López Albujar, nos enorgullece mantener una
          conexión cercana con nuestros egresados. Nuestro portal de seguimiento
          está diseñado para ofrecerte apoyo continuo en tu desarrollo
          profesional y para ayudarte a mantenerte actualizado con las
          oportunidades y eventos que el instituto ofrece.
        </p>
        <p>
          A través de este portal, tendrás acceso a recursos y herramientas que
          te permitirán seguir creciendo en tu carrera. Desde oportunidades de
          capacitación y desarrollo profesional hasta actualizaciones sobre
          actividades y noticias del instituto, estamos aquí para acompañarte en
          cada etapa de tu trayectoria profesional.
        </p>
        <p>
          Si tienes alguna pregunta o necesitas asistencia, no dudes en ponerte
          en contacto con nosotros. ¡Estamos aquí para ayudarte!
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</section>
