<mat-card class="egresado-card">
  <mat-card-content>
    <div *ngIf="loading$ | async" class="loading">Cargando egresados...</div>
    <div *ngIf="!(loading$ | async)">
      <div class="mat-elevation-z8" fxLayout="column" fxLayoutAlign="center">
        <div fxLayout="row" fxLayoutAlign="start center" fxHide.sm>
          <h2 class="table-title">Listado de Egresados</h2>
        </div>

        <div fxLayout="row" fxLayoutAlign="center" fxFlex="100">
          <div class="table-container">
            <table mat-table [dataSource]="dataSource" class="mat-table">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let egresado">{{ egresado.id }}</td>
              </ng-container>

              <ng-container matColumnDef="anioEgreso">
                <th mat-header-cell *matHeaderCellDef>Año de Egreso</th>
                <td mat-cell *matCellDef="let egresado">
                  {{ egresado.anioEgreso }}
                </td>
              </ng-container>

              <ng-container matColumnDef="apellidos">
                <th mat-header-cell *matHeaderCellDef>Apellidos</th>
                <td mat-cell *matCellDef="let egresado">
                  {{ egresado.apellidos }}
                </td>
              </ng-container>

              <ng-container matColumnDef="discapacidad">
                <th mat-header-cell *matHeaderCellDef>Discapacidad</th>
                <td mat-cell *matCellDef="let egresado">
                  {{ egresado.discapacidad }}
                </td>
              </ng-container>

              <ng-container matColumnDef="dni">
                <th mat-header-cell *matHeaderCellDef>DNI</th>
                <td mat-cell *matCellDef="let egresado">{{ egresado.dni }}</td>
              </ng-container>

              <ng-container matColumnDef="carrera">
                <th mat-header-cell *matHeaderCellDef>Carrera</th>
                <td mat-cell *matCellDef="let egresado">
                  {{ egresado.idCarrera }}
                </td>
              </ng-container>

              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let egresado">
                  {{ egresado.nombre }}
                </td>
              </ng-container>

              <ng-container matColumnDef="sexo">
                <th mat-header-cell *matHeaderCellDef>Sexo</th>
                <td mat-cell *matCellDef="let egresado">{{ egresado.sexo }}</td>
              </ng-container>

              <ng-container matColumnDef="telefono1">
                <th mat-header-cell *matHeaderCellDef>Teléfono 1</th>
                <td mat-cell *matCellDef="let egresado">
                  {{ egresado.telefono1 }}
                </td>
              </ng-container>

              <ng-container matColumnDef="telefono2">
                <th mat-header-cell *matHeaderCellDef>Teléfono 2</th>
                <td mat-cell *matCellDef="let egresado">
                  {{ egresado.telefono2 }}
                </td>
              </ng-container>

              <ng-container matColumnDef="titulado">
                <th mat-header-cell *matHeaderCellDef>Titulado</th>
                <td mat-cell *matCellDef="let egresado">
                  {{ egresado.titulado }}
                </td>
              </ng-container>

              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let egresado">
                  {{ egresado.email }}
                </td>
              </ng-container>

              <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef>Estado</th>
                <td mat-cell *matCellDef="let egresado">
                  {{ egresado.estado }}
                </td>
              </ng-container>

              <ng-container matColumnDef="fechaNacimiento">
                <th mat-header-cell *matHeaderCellDef>Fecha de Nacimiento</th>
                <td mat-cell *matCellDef="let egresado">
                  {{ egresado.fechaNacimiento }}
                </td>
              </ng-container>

              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef>Usuario</th>
                <td mat-cell *matCellDef="let egresado">
                  {{ egresado.username }}
                </td>
              </ng-container>

              <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef>Rol</th>
                <td mat-cell *matCellDef="let egresado">{{ egresado.role }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </div>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </mat-card-content>
</mat-card>
